<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hereliesaz.nhen">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:theme="@style/Theme.App.Transparent"
        android:allowBackup="true"
        android:label="nhen"
        android:icon="@mipmap/ic_launcher"
        android:exported="true">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.App.Transparent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BlurTileService"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
    </application>

</manifest>
